 $bcgCol:#252423;
 $bcgCol-active:#646362;
 
 *{
margin: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

.wraper{
    height: 1500px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #252423;
    padding: 25px;

    .spreading{ 
       // height: 340px;
        background: #252423;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;    
        color: white;


        .btn{
           display: flex;
           justify-content: center;
           align-items: center;
            width: 350px;
            height: 50px;
            background: #ff8f42;
           font-weight: bold;
           font-size: 20px;
           border: none;
           outline: none;
            margin: 2px;
            cursor: pointer;
        }
    }



    .kvadShuff{
        width: 180px;
        height: 180px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        z-index: 999999;
        transition: all 1s ease;
        background-color: lighten($color: #252423, $amount: 3);
        border: 1px solid wheat	;
        border-radius: 5px;
        transition: all 0.8s;
        margin-top: 10px;
    
       
     }
    .uvod{

        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 20px;
        color: wheat;
        margin-bottom: 20px;

        .btnParBrKvad{
             width: 60px;
             height: 60px;
             background:none;
            border: none;
            outline: none;
             margin: 2px;
             cursor: pointer;
             color: wheat;
        }

        .btnParBrKvad:hover{
            background:   lighten($color: $bcgCol, $amount: 7);
             }

          

        img{
            width: 60px;
            height: 60px;
            cursor: pointer;
        }

        .brKvad{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 2px;
        }

        .VeKvad{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 4px;

            .btnParVelKvad{
                width: 60px;
                height: 60px;
                background:none;
               border: none;
               outline: none;
                margin: 2px;
                cursor: pointer;
                color: wheat;
           }
   
           .btnParVelKvad:hover{
               background:   lighten($color: $bcgCol, $amount: 7);
                }

        }
        label{
            margin: 2px;

           
        }
        p{
            font-size: 12px;
            margin-bottom: 2px;
            color: rgb(173, 157, 127);
        }

        span{
            color: wheat;
            font-size: 15px;
        }
        input{
            margin-bottom: 3px;
        }
    }

 
 footer{
     color: wheat;
     margin-top: 15px;
 }
 
}