* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.wraper {
  height: 1500px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #252423;
  padding: 25px;
}

.wraper .spreading {
  background: #252423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
}

.wraper .spreading .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  height: 50px;
  background: #ff8f42;
  font-weight: bold;
  font-size: 20px;
  border: none;
  outline: none;
  margin: 2px;
  cursor: pointer;
}

.wraper .kvadShuff {
  width: 180px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  z-index: 999999;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #2d2c2a;
  border: 1px solid wheat;
  border-radius: 5px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  margin-top: 10px;
}

.wraper .uvod {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 20px;
  color: wheat;
  margin-bottom: 20px;
}

.wraper .uvod label {
  margin: 2px;
}

.wraper .uvod p {
  font-size: 12px;
  margin-bottom: 2px;
  color: #ad9d7f;
}

.wraper .uvod span {
  color: wheat;
  font-size: 15px;
}

.wraper footer {
  color: wheat;
  margin-top: 15px;
}

.distortion {
  width: 400px;
  height: 300px;
  margin: 5px;
}

.distortion1 {
  width: 400px;
  height: 300px;
  margin: 5px;
}

.landing {
  width: 100vw;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #203d05;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  height: 200px;
  color: white;
}

.intro .aindex {
  text-decoration: none;
  color: white !important;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  display: inline-block;
}

.intro .aindex:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.svg-div {
  height: 300px;
  width: 300px;
}

.path {
  stroke-dasharray: 20;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 5s linear infinite;
          animation: dash 5s linear infinite;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.path1 {
  stroke-dasharray: 45;
  stroke-dashoffset: 0;
  -webkit-animation: dash 8s linear infinite;
          animation: dash 8s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 10;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

.svg-div-line {
  height: 4100px;
  width: 100vw;
  overflow: hidden;
  background: #020024;
  position: relative;
  margin-top: 60px;
}

.svg-div-line .cover {
  position: absolute;
  z-index: 99999;
  top: 150px;
  height: 4100px;
  width: 100vw;
  background: #020024;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(94%, #020024), color-stop(98%, rgba(9, 9, 121, 0.00603992)), to(rgba(0, 212, 255, 0)));
  background: linear-gradient(0deg, #020024 94%, rgba(9, 9, 121, 0.00603992) 98%, rgba(0, 212, 255, 0) 100%);
}

.background {
  position: absolute;
  top: 220px;
  left: 330px;
  height: 70vh;
  width: 50vw;
  background-image: url("bazen.jpg");
  background-size: cover;
}

.background .water {
  position: absolute;
  background-image: url("bazen.png");
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-filter: url("#turbulence");
          filter: url("#turbulence");
}

.awater {
  text-decoration: none;
  color: white !important;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  display: inline-block;
}

.awater:hover {
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}
/*# sourceMappingURL=main.css.map */