@import 'anime';
@import 'porto';

.distortion{
    width: 400px;
    height: 300px;  
    margin: 5px;
}

.distortion1{
    width: 400px;
    height: 300px;  
    margin: 5px;
}

.landing{
    width: 100vw;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
   

   
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   background: rgb(32, 61, 5);
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
  
    height: 200px;
    color: white;

    .aindex{
      text-decoration: none;
      color: white !important;
      transition: transform .3s ease-out;
      display: inline-block;
    }
    .aindex:hover{
      transform: translateY(-10px);
    }
   
}

.svg-div{
    height: 300px;
    width: 300px;
   
}

.path {
    stroke-dasharray: 20;
    stroke-dashoffset: 1000;
    animation:dash 5s linear infinite;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
      }
  }

  .path1 {
    stroke-dasharray: 45;
    stroke-dashoffset: 0;
    animation:dash 8s linear infinite;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 10;
    }
    to {
        stroke-dashoffset: 1000;
      }
  }

  .svg-div-line{
    height: 4100px;
    width: 100vw;
   overflow: hidden;
    background: rgb(2,0,36);
    position: relative;
    margin-top: 60px;

    .cover{
        position: absolute;
        z-index: 99999;
        top: 150px;
        height: 4100px;
        width: 100vw;
      //  border: 2px solid yellow;
        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgba(2,0,36,1) 94%, rgba(9,9,121,0.006039915966386533) 98%, rgba(0,212,255,0) 100%);
    }

   
  }
///////////////////////////////////////////////////

.background {
    position: absolute;
    top: 220px;
    left: 330px;
    height: 70vh;
    width: 50vw;
    background-image: url("bazen.jpg");
    background-size: cover;
  
    
    .water {
        position: absolute;
        background-image: url("bazen.png");
        background-size: cover;
        top:0;
        left:0;
        height: 100%;
        width: 100%;
       
        filter: url("#turbulence");
      }
}

.awater{
  text-decoration: none;
  color: white !important;
  transition: transform .3s ease-out;
  display: inline-block;
}

.awater:hover{
  transform: skewX(-20deg);
}