.distortion {
  width: 400px;
  height: 300px;
  margin: 5px;
}

.distortion1 {
  width: 400px;
  height: 300px;
  margin: 5px;
}

.landing {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 3px solid #5c5656;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  background: #0b4b0f;
  height: 200px;
  color: white;
}

.intro .aindex {
  text-decoration: none;
  color: white !important;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  display: inline-block;
}

.intro .aindex:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.svg-div {
  height: 300px;
  width: 300px;
  border: 2px solid red;
}

.path {
  stroke-dasharray: 20;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 5s linear infinite;
          animation: dash 5s linear infinite;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.path1 {
  stroke-dasharray: 45;
  stroke-dashoffset: 0;
  -webkit-animation: dash 8s linear infinite;
          animation: dash 8s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 10;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

.svg-div-line {
  height: 4100px;
  width: 100vw;
  overflow: hidden;
  background: #020024;
  position: relative;
}

.svg-div-line .cover {
  position: absolute;
  z-index: 99999;
  top: 150px;
  height: 4100px;
  width: 100vw;
  background: #020024;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(94%, #020024), color-stop(98%, rgba(9, 9, 121, 0.00603992)), to(rgba(0, 212, 255, 0)));
  background: linear-gradient(0deg, #020024 94%, rgba(9, 9, 121, 0.00603992) 98%, rgba(0, 212, 255, 0) 100%);
}

.background {
  position: absolute;
  top: 220px;
  left: 330px;
  height: 70vh;
  width: 50vw;
  background-image: url("bazen.jpg");
  background-size: cover;
}

.background .water {
  position: absolute;
  background-image: url("bazen.png");
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-filter: url("#turbulence");
          filter: url("#turbulence");
}

.awater {
  text-decoration: none;
  color: white !important;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  display: inline-block;
}

.awater:hover {
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}
/*# sourceMappingURL=main.css.map */